
@{
    ViewBag.Title = "SingIn";
}

<h2>Sign In</h2>

<b>Mock login. Type anything to sign in.</b>

@using(Html.BeginForm("SignIn", "Home"))
{
	@Html.ValidationSummary()
	<table>
		<tr>
			<td>Username</td>
			<td>@Html.TextBox("Username", "anything-will-work")</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>@Html.TextBox("password", "vuila gesi", new { type="password" })</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Signin" /></td>
		</tr>
	</table>
}
