<script>
	$(function()
	{
		signalrStateManager({
			signalrHubName: 'NotificationHub',
			getListMethodName: 'notificationList',
			getNotifiedMethodName: 'getNotified',
			recordTemplateSelector: '.record-template',
			dateTimeFieldName: 'CreationDate',
			counterSelector: '#countNotification',
			panelSelector: '.record-container',
			panelOpenerSelector: '#countNotification',
			signOutButtonSelector: '#signout',
			// addAt: 'bottom',
			/* events */
			onSignalrInit: function() /* calls after signalr initialisation */
			{
				$('#notify').removeAttr('disabled');
			},
			onGetList: function(list)
			{
				console.log('Total ' + list.length + ' records have returned from the server.');
			},
			onNotificationArrival: function(obj)
			{
				console.log('New data have come.');
			}
		});
	});
</script>

<div class="nofity-container">
	<span id="countNotification" title="See notifications">-</span>
	<div class="record-container">
		<a class="record-template" target="_blank" href="/home/LogDetails/[[Id]]">
			<div class="summary">[[Summary]]</div>
			<div class="first">[[User]]</div>
			<div class="second">[[CreationDate]]</div>
		</a>
	</div>
</div>
