@{
    ViewBag.Title = "About";
}

<p>Now you're on @ViewBag.Title page. Notifications are still in there without getting it from the server, check it out.</p>

<h2>@ViewBag.Title</h2>
<p>
	<button id="notify" value="About">Spread this cilck</button>
</p>
