@{
    ViewBag.Title = "About";
}

<p>Now you're on @ViewBag.Title page. Notification data is still in there without getting it from server, check it out.</p>

<h2>@ViewBag.Title</h2>
<p>
	<button id="notify" value="About">Spread this cilck</button>
</p>
