@{
    ViewBag.Title = "Contact";
}
<p>Now you're on @ViewBag.Title page. Notification data is still in there without getting it from the server, check it out.</p>

<h2>@ViewBag.Title.</h2>
<b>Contact page without contact information.</b>
<p>
	<button id="notify" value="Contact">Broadcast this cilck</button>
</p>

