@{
    ViewBag.Title = "Home Page";
}

<p>
    <h3>Home (page), sweet home (page)</h3>
    <p>To test the plugin, click on the button several times, then navigate through pages;<br />the plugin will restore all the notfications without contacting the server.</p>
	<p>(To test SignalR, open serveral browsers and do as above)</p>
</p>
<p>
	<button id="notify" value="Home" disabled>Notify all about this cilck</button>
</p>
