
.navbar { height:25px; background-color:whitesmoke; font-size:12pt; padding-top:5px; padding-left:10px; }
.navbar a { text-decoration: none; }
.navbar span { margin-right:35px; }

.nofity-container { background-color:white; font-size:11pt; position:absolute; z-index:2; }
#countNotification { background-color:#000; color:white; border:1px #ff006e solid;
					 border-radius:10px; font-weight:bold; min-width:10px;
					 padding:5px; cursor:pointer; }
.record-container { border:2px silver solid; display:none; margin-top:6px; max-height:300px; overflow:auto;
					width:300px; }
.record-container ul { list-style-type:none; }
.record-container > a { clear:both; margin-left:0px; padding-left:0px; float:left; width:98%; border:1px solid white; border-bottom:1px solid gainsboro; }
.record-container > a:hover { background-color: whitesmoke; border:1px solid gainsboro; }
.summary { width:100%; float:left; width:100%; }
.first { float:left; text-align:left; width: 40%; }
.second { float:right; text-align:right; width: 60%; font-size:9pt; }
