<script>
	window.onload = function()
	{
		notificationStateManager({
			signalrHubName: 'NotificationHub',
			recordContentSelector: '.record-container > a',
			counterSelector: '#countNotification',
			getListMethodName: 'notificationList',
			getRecordMethodName: 'getNotified',
			dateTimeFieldName: 'CreationDate',
			signOutButtonSelector: null, // here none; but should be given when site is under authentication
			/* optinoal */
			notificationOpenerSelector: '#countNotification',
			notificationPanelSelector: '.record-container',
			onGetList: function(list) { console.log('Total: ' + list.length) },
			onRecordArrival: function(obj) { console.log('Log ID: ' + obj.Id) }
		});
	};
</script>

<div class="nofity-container">
	<span id="countNotification" title="See notifications">00</span>
	<div class="record-container">
		<a target="_blank" href="/home/LogDetails/[[Id]]">
			<div class="summary">[[Summary]]</div>
			<div class="first">[[User]]</div>
			<div class="second">[[CreationDate]]</div>
		</a>
	</div>
</div>
